/*	CSS for the S03E06 - Excusrion project	*/

/*	Applies to ALL of the page 				*/
body {
	background-color: black;
	font-family: verdana;
	text-align: center;
	color: white;
}

/*	Styling for the <header> section		*/
header {
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 42px;
	font-weight: 300;
}

/*	Styling for the <article>s only			*/
article {
}
article a {
	color: aquamarine;
	font-size: 16px;
}
article p {
	color: gray;
	font-size: 21px;
}

/* 	As we have text-align: center for the <body> element/tag we need to */
/*	override that with a class for the <footer> element. 				*/
.footer {
	color: gray;
	text-align: right;
}
